@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
.success-toast{
    background-color: rgba(137, 255, 107, 0.9);
    padding: 10px 20px;
    border-radius: 3px;
}
.error-toast{
    background-color: rgba(247, 56, 3, 0.9);
    padding: 10px 20px;
    border-radius: 3px;
}
.info-toast{
    background-color: rgba(85, 84, 83, 0.9);
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
}